<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sixe.dtu">

    <!-- 允许程序访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!--AS的Gradle插件默认会启用Manifest Merger Tool，若Library项目中也定义了与主项目相同的属性
    （例如默认生成的android:icon和android:theme），则此时会合并失败，并会报错。-->
    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dtu_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>

        <activity
            android:name=".vm.boot.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".vm.user.UserLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>

        <!--测试类-->
        <activity
            android:name=".vm.user.UserTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme">

        </activity>

        <!--单位信息-->
        <activity
            android:name=".vm.user.UserCompanyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改单位信息-->
        <activity
            android:name=".vm.user.UserUpdateCompanyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--我的信息-->
        <activity
            android:name=".vm.user.UserPersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改我的信息-->
        <activity
            android:name=".vm.user.UserUpdatePersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改密码-->
        <activity
            android:name=".vm.user.UserUpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--单位用户管理-->
        <activity
            android:name=".vm.user.UserStaffManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--员工详情-->
        <activity
            android:name=".vm.user.UserStaffInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改员工详情-->
        <activity
            android:name=".vm.user.UserUpdateStaffInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改员工密码-->
        <activity
            android:name=".vm.user.UserUpdateStaffPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--添加员工信息-->
        <activity
            android:name=".vm.user.UserAddStaffActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--查看所有dtu信息-->
        <activity
            android:name=".vm.dtu.info.DtuAllInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--dtu数据-->
        <activity
            android:name=".vm.dtu.info.DtuDataInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--dtu状态-->
        <activity
            android:name=".vm.dtu.info.DtuStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改dtu信息-->
        <activity
            android:name=".vm.index.child.UpdateDtuInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--修改报警信息-->
        <activity
            android:name=".vm.index.child.UpdateAlarmInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme"></activity>

        <!--报警信息- 查看设置报警信息-->
        <activity
            android:name=".vm.index.child.AlarmInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--控制节点任务状态-->
        <activity
            android:name=".vm.index.child.ControlPointTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--设置控制节点任务状态-->
        <activity
            android:name=".vm.index.child.UpdateControlPointTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--分组数据展示-->
        <activity
            android:name=".vm.index.child.GroupShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--历史数据展示-->
        <activity
            android:name=".vm.index.child.HistoryDataActivity"
            android:screenOrientation="landscape"
            android:theme="@style/ColorTranslucentTheme"
            android:windowSoftInputMode="stateHidden" />

        <!--dtu信息-->
        <activity
            android:name=".vm.user.UserDtuInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--设置控制节点任务-->
        <activity
            android:name=".vm.index.child.UpdateControlTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />


        <!--dtu信息-->
        <activity
            android:name=".vm.dtu.info.DtuInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ColorTranslucentTheme" />

        <!--app自动更新-->
        <service
            android:name="com.loveplusplus.update.DownloadService"
            android:exported="true" />

        <!--个推-->
        <service
            android:name="com.sixe.dtu.service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"></service>
        <service android:name="com.sixe.dtu.service.DemoIntentService" />
    </application>

    <!--允许程序写入外部存储,如SD卡上写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>